// fonts import (Cocomat Pro)

@font-face {
    font-family: 'Cocomat Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Cocomat_Pro/CocomatPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cocomat Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Cocomat_Pro/CocomatPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cocomat Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Cocomat_Pro/CocomatPro-Bold.ttf') format('truetype');
}

// fonts import (Century)
@font-face {
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Century/Century.ttf') format('truetype');
}