@import "fonts";
@import "normalize";
@import "container";
@import "slider";
@import "module";
@import "editors";
@import "modal";

.header {
    background-color: #000;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        font-weight: 500;
        color: #fff;
    }
}

.header__item {
    display: flex;
    align-items: center;
    img {
        margin-right: 15px;
        
        &:hover {
            opacity: .7;
            transition: .3s linear;
            cursor: pointer;
        }
    }
    &-name {
        color: #fff;
        
        &:hover {
            color: #FCC463;
            transition: .3s linear;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .9;
    z-index: 301;
    img {
        position: fixed;
        margin: auto;
        width: 140px;
        height: auto;
        top: 40%;
        left: 43%;
    }
}
.preloader {
    display: block;
}

.menu__about {
    li {
        margin-bottom: 20px;
    }
    a {
        font-family: 'Century';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        color: #FCC463;
       
    }
}

.menu__services-title {
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: #FCC463;
    margin-bottom: 15px;
}

.menu__services-list {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 33px;
            color: #FFFFFF;
            margin-bottom: 15px;
            &:hover {
                
                text-decoration: underline;
            }
        }
    }
}

.modal1 {
    margin-top: 10px;
    padding: 50px;
    border: 3px solid #FCC463;
    animation-name: animatemenu;
        animation-duration: 0.9s;
    &__content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        z-index: 2;
        
    }
}
.topitem {
    position: absolute;
    top: -74px;
    left: 0;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 30px;
    height: auto;
}

#modalMenu {
    display: none;
}

.modal2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 301;
    top: 0;
    background: #000;
    position: relative;
    &__wrapper {
        opacity: .8;
        z-index: 301;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    &__content {
        background: #000;
        text-align: center;
        position: fixed;
        border-radius: 10px;
        border: #FCC463 2px solid;
        padding: 20px;
        margin: 0 auto;
        width: 50%;
        left: 25%;
        top: 20%;
        height: auto;
        color: #fff;
        z-index: 302;
        animation-name: animatetop;
        animation-duration: 0.5s;
        .reviews__text {
            position: relative;
            .close-button {
                position: absolute;
                top: -20px;
                right: 20px;
            }
        }
    }
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 200; opacity: 1}
}

@keyframes animatemenu {
    from {top: -500px; opacity: 0}
    to {top: 500; opacity: 1}
}

#modalReview {
    display: none;
}

.main {
    margin-top: 129px;
    background-color: #000;
}

.banner__content {
    &-text{
        color: #fff;
        width: 50%;
        padding: 200px 0 50px;
    }
    display: flex;
}

.banner {
    margin-bottom: 100px;
    &__title{
        font-weight: 400;
        line-height: 61.5%;
        text-transform: uppercase;
        font-size: 96px;
        color: #FCC463;
    }

    &__text1{
        font-family: 'Century';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 110%;
        color: #FCC463;
        padding: 30px 0;
        padding-right: 12px;
    }

    &__text2{
        font-family: 'Century';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
}

.help-link {
    opacity: .8;
    &:hover {
        opacity: 1;
    }
    img {
        margin-top: 6px;
    }
    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 61.5%;
        color: #FCC463;
        display: flex;
       
        p {
            margin-right: 10px;
        }
    }
}

.title1 {
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 61.5%;
    color: #FCC463;
}

.autobio {
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: top 10px right 0px;
    .container {
        background: transparent;
    }
    display: flex;
    &__content {
        background: transparent;
        &-title {
            background: transparent;
        }
    &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        padding: 40px 0 30px;
        width: 75%;
        background: transparent;
            p {
                background: transparent;
            }
        }
    }   
}

.about {
    
    background-position: top 10px left 0px;
    .container{
        background: transparent;
    }
    background: transparent;
    padding: 100px 0;
    &__content {
        background: transparent;
        display: flex;
        position: relative;
        &-title {
            text-align: left;
            position: absolute;
            left: -120px;
            top: 200px;
            background: transparent;
            display: flex;
            align-items: flex-start;
            text-align: center;
            .work {
                font-family: 'Century';
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                color: #FFFFFF;
                transform: rotate(-90deg);
                padding-left: 50px;
                background: transparent;
                span {
                    color: #FCC463;
                    font-size: 96px;
                    margin-left: 70px;
                    font-family: 'Century';
                    white-space: nowrap;
                    background: transparent;
                }
                p {
                    background: transparent;
                }
            }
            
        }
        &-text {
            background: transparent;
            padding-left: 300px;
            font-family: 'Century';
            :nth-child(even){
                color: #FCC463;
            }
            p {
                font-family: 'Century';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 91.5%;
                color: #FFFFFF;
                margin-bottom: 28px;
                background: transparent;
            }
        }
    }
}

.services {
    background: transparent;
    .container {
        background: transparent;
        :nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    &__item {
        display: flex;
        gap: 30px;
        background: transparent;
        padding-top: 150px;
        &-img {
            position: relative;
            width: 50%;
            background: transparent;
            background-repeat: no-repeat; 
            background-position: top 0px left 0px;
            background-size: contain;
            picture {
                background: transparent;
            }
        }
        &-content {
            width: 50%;
        }
    }
    
}
.background {
    opacity: .3;
    background-repeat: no-repeat; 
    background-position: top 0px left 0px;
    background-size: cover;
    width: 100%;
    height: 700px;
    border: #FCC463 1px solid;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 65px 57px;
    top: 0;
    left: 0;
    background: transparent;
    img {
        width: 100%;
        height: 100%;
        background: transparent;
    }
}

.service__title {
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: #FCC463;
    padding-top: 10px;
}

.service__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 40px 0 30px;
}

.reviews {
    background: transparent;
    padding: 30px 0 90px;
    &__title{
        font-family: 'Century';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 61.5%;
        text-align: center;
        color: #FCC463;
        padding-bottom: 50px;
    } 
    &__content {
        color: #fff;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        background: transparent;
    }
    &__name {
        font-family: 'Century';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #FCC463;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        padding: 20px 0;
        background: transparent;
    }
    &__full {
        font-weight: 500;
        font-size: 18px;
        line-height: 61.5%;
        text-align: center;
        color: #FCC463;
        padding: 5px;
        border-radius: 10px;
        &:hover {
            color: #fff;
            transition: .3s linear;
            
        }
    }
}

.slick-arrow {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 40%;
    background: transparent;
    color: transparent;
    background-repeat: no-repeat;
}

.slick-next {
    background-image: url(../images/arrow-right.svg);
    right: -65px;
    &:hover {
        background-image: url(../images/arrow-hover.svg);
        transition: .3s linear;
    }
    &.slick-disabled {
        opacity: 0.8;
        background-image: url(../images/arrow-dis.svg);
        transform: rotate(-180deg);
        &:hover {
            background-image: url(../images/arrow-dis.svg);
            cursor: default;
        }
    }
    
}


.slick-prev {
    background-image: url(../images/arrow-right.svg);
    left: -65px;
    transform: rotate(-180deg);
    &:hover {
        background-image: url(../images/arrow-hover.svg);
        transition: .3s linear;
    }
    &.slick-disabled {
        background-image: url(../images/arrow-dis.svg);
        transform: none;
        &:hover {
            background-image: url(../images/arrow-dis.svg);
            cursor: default;
        }
    }
}

.go-top {
    position: relative;
    padding: 50px 0;
    z-index: 1;
    background: transparent;
   
}

.arrow-top {
    position: fixed;
    bottom: 100px;
    right: 150px;
    background-image: url(../images/arrow-right.svg);
    transform: rotate(-90deg);
    width: 43px;
    height: 43px;
    background-repeat: no-repeat;
    display: none;
    &:hover {
        background-image: url(../images/arrow-hover.svg);
        transition: .3s linear;
    }
}

.line {
    hr {
        background: #FCC463;
        border: none;
        height: 1px;
    }
    padding-bottom: 60px;
}

.footer {
    background: #000;
    &__top {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 30px;
    }
    &__bot {
        padding: 50px 0 40px;
        &-items {
            display: flex;
            justify-content: center;
            gap: 70px;
        }
        &-item {
            display: flex;
            font-weight: 500;
            font-size: 17px;
            line-height: 61.5%;
            color: #FFFFFF;
            align-items: center;
            gap: 13px;
            &:hover {
                color: #FCC463;
                transition: .3s linear;
                img {
                    opacity: .7;
                }
                p {
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer__top-info {
    padding-right: 30px;
}

.top__info-name {
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61.5%;
    text-transform: uppercase;
    color: #FCC463;
    padding: 30px 0;
}

.top__info-text {
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FCC463;
}

.top__info-img {
    img {
        &:hover {
            opacity: .7;
            transition: .3s linear;
        }
    }
}

.footer__top-list {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    a {
        display: block;
        color: #fff;
        margin-bottom: 20px;
        &:hover {
            color: #FCC463;
            text-decoration: underline;
            transition: .3s linear;
        }
    }
}

.slider {
    padding-bottom: 100px;
}

.sliders__item {
    padding: 0 13px;
    max-width: 310px;
    &:hover {
        .sliders__item-img {
            background-image: url(../images/frame-white.svg);
            transition: .3s linear;
        }
        
    }
}

.sliders__item-title {
    margin-top: 27px;
    text-align: center;
    a {
        font-family: 'Century';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        text-align: center;
        color: #FCC463;
    }
}

.sliders__item-img {
    background-image: url(../images/frame-yellow.svg);
    background-repeat: no-repeat;
    background-position: top 7px right -2px;
    
    img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 13px;
        height: auto; 
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: transparent;
        color: #f5f5f5;
        font-size: 15px;
        line-height: 12.5px;
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        z-index: 0;
        width: 260px;
        height: 310px;
    }
}


// Слайдер
.tabs {
    width: 100%;
 }
 /* Стили для списка вкладок */
 .tab-header {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
 }
 /* Стили для вкладки */
 .tab-header__item {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61.5%;
    text-align: center;
    color: #FCC463;
    opacity: 0.3;
 }
 /* Стили для активной вкладки */
 .tab-header__item.active {
    font-weight: 400;
    font-size: 64px;
    line-height: 61.5%;
    text-align: center;
    color: #FCC463;
    opacity: 1;
 }
 /* Стиль для списка контейнеров с содержимым вкладок */
 .tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
    .slick-arrow {
        top: 34%;
    } 
 }
 /* Стили для контейнера с содержимым вкладки. По умолчанию скрыт. */
 .tab-content__item {
    display: none;
    padding: 20px;
    margin-top: -1px;
 }
 /* Стили для активного контейнера вкладки */
 .tab-content__item.active {
    display: block;
 }
// Слайдер

@media (max-width: 1400px) {
    .background {
        height: 650px;
    }
}
@media (max-width: 1200px) {
    .modal1__content {
        grid-template-columns: 1fr;
    }

    .menu__about {
        ul {
            display: flex;
            justify-content: space-between;
        }
    }
    .close-button {
        top: -30px;
        right: -30px;
    }

    .menu__services {
        border-top: #FCC463 1px solid;
        padding-top: 20px;
    }

    .menu__services-title {
        margin-bottom: 30px;
        text-align: center;
    }

    .modal1 {
        padding: 40px;
    }

    .topitem  {
        top: -64px;
    }

    .banner__content-text {
        padding: 100px 0;
        width: 65%;
    }

    .banner__content-img {
        padding-top: 50px;
    }
    .autobio {
        padding-top: 80px;
    }
    .service__title {
        font-size: 52px;
    }
    .background {
        height: 550px;
    }
    .image {
        padding: 40px 30px;
        img {
            height: auto;
        }
    }
}
@media (max-width: 992px) {
    .header__item-name {
        display: none;  
    }
    .header__items {
        :nth-child(1) {
            .header__item-name {
                display: block;  
            } 
        }
    }

    .banner__content-text {
        padding: 40px 0;
        width: 70%;
    }

    .banner__content-img {
        width: 30%;
        padding-top: 100px;
    } 
    .autobio {
        background-image: none !important;
    }
    .autobio__content-text {
        width: 100%;
    }
    .about__content {
        display: block;
        &-title {
            position: static;
            text-align: left;
            display: block;
            .work {
                span {
                    white-space: normal;
                    font-size: 64px;
                }
            }
        }
        &-text {
            padding-left: 0;
            padding-top: 30px;
        }
    }
    .work {
        transform: none !important;
        padding-left: 0 !important;
    }
    .about {
        padding: 30px 0;
    }
    .arrow-top {
        right: 50px;
    }
    .service__title {
        font-size: 38px;
    }
    .reviews__content  {
        width: 100%;
    }
    .go-top {
        padding: 0;
    }
    .footer__top {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer__top-list {
        text-align: left;
        gap: 0 20px;
    }
    .footer__bot-items {
        gap: 30px;
    }
    .background {
        height: 400px;
    }
    .tab-header {
        display: block;
        &__item {
            margin: 15px 0;
        }
    }
}
@media (max-width: 768px) {
   .menu__about {
    ul {
        display: block;
    }
   }

   .menu__services-list {
    ul {
        grid-template-columns: 1fr;
    }
   }

   .banner__content-img {
        display: none;
    } 
    .banner__content-text {
        width: 100%;
    }
    .title1 {
        font-size: 55px;
    }  
    .about__content-title {
        .work {
            font-size: 57px;
            span {
                margin-left: 0;
                font-size: 57px;
                margin-left: 10px;
            }
        }
    }
    .services__item {
        flex-direction: column-reverse;
    } 
    .services .container :nth-child(even){
        flex-direction: column-reverse;
    }
    .services__item-img {
        width: 100%;
    }
    .services__item-content {
        width: 100%;
    }
    .services {
        margin-top: 70px;
    } 
    .reviews__title {
        font-size: 60px;
    }
    .reviews {
        padding: 30px 0;
    }
    .slick-prev {
        left: 0;
        z-index: 1;
    }
    .slick-next {
        right: 0;
    }
    .footer__bot-item {
        p {
            display: none;
        }
    }
    .background {
        height: 640px;
    }
}
@media (max-width: 576px) {
    .header__items {
        :nth-child(1) {
            .header__item-name {
                display: none;  
            } 
        }
    }

    .topitem  {
        left: -30px;
    }

    .banner__title {
        img {
            width: 80%;
        }
    }

    .banner__text1 {
        font-size: 40px;
    }
    .autobio__content-title {
        font-size: 45px;
    }
    .arrow-top {
        right: 20px;
    }

    .service__title {
        font-size: 35px;
    }
    .footer__bot-items {
        gap: 50px;
        
    }
    .footer__top-list {
        grid-template-columns: 1fr;
    }
    .autobio  {
        padding-bottom: 60px;
    }
    .footer__bot {
        padding: 30px 0;
    }
    .footer__top-list {
        padding-left: 0;
    }
    .background {
       display: none;
    }
    .image {
        position: static;
        padding: 0;
    }
    .tab-header__item {
        font-size: 40px;
        &.active {
            font-size: 55px;
        }
    }
}
