/* Panton 400 */
@font-face {
    font-family: "Panton";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(./../css//fonts/Panton.otf);
}

/* Panton 500 */
@font-face {
    font-family: "Panton";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(./../css//fonts/Panton\ SemiBold.otf);
}

/* Panton 600 */
@font-face {
    font-family: "Panton";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(./../css//fonts/Panton\ Bold.otf);
}

/* Panton 700 */
@font-face {
    font-family: "Panton";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(./../css//fonts/Panton\ ExtraBold.otf);
}

/* Panton 800 */
@font-face {
    font-family: "Panton";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(./../css//fonts/Panton\ Black.otf);
}