@charset "UTF-8";
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  color: #373435;
}

html {
  scroll-behavior: smooth;
}

.main {
  min-height: 1300px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input, textarea {
  background: none;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1;
}

img {
  max-width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
}

.editors ul, .editors ol {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  padding-bottom: 15px;
}
.editors ul li {
  list-style-type: disc;
}
.editors ol li {
  list-style-type: decimal;
}
.editors strong {
  font-weight: 600;
}
.editors em {
  font-style: italic;
}

.modal {
  position: fixed;
  z-index: -200;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
  min-width: 300px;
  min-height: 300px;
}
.modal__close {
  position: absolute;
  z-index: 200;
  top: -10px;
  right: -10px;
  color: #fff;
  font-size: 20px;
  transition: 0.4s;
  opacity: 1;
}
.modal__close:hover {
  opacity: 0.5;
  transform: rotate(-180deg);
}
.modal__content {
  background: #F9F0EE;
  border-radius: 20px;
  padding: 20px;
  min-height: 300px;
  width: 100%;
}
.modal-show {
  transition: 0.4s;
  z-index: 500;
  opacity: 1;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
} /* Panton 400 */
@font-face {
  font-family: "Panton";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./../css//fonts/Panton.otf);
}
/* Panton 500 */
@font-face {
  font-family: "Panton";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./../css//fonts/Panton\ SemiBold.otf);
}
/* Panton 600 */
@font-face {
  font-family: "Panton";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./../css//fonts/Panton\ Bold.otf);
}
/* Panton 700 */
@font-face {
  font-family: "Panton";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./../css//fonts/Panton\ ExtraBold.otf);
}
/* Panton 800 */
@font-face {
  font-family: "Panton";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./../css//fonts/Panton\ Black.otf);
}
.header .container {
  padding: 15px 0 22px;
  display: flex;
  justify-content: space-between;
}
.header__call {
  display: none;
}
.header__logo {
  width: 17%;
}
.header__info {
  width: 68%;
  padding-right: 40px;
}
.header__info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-bottom: 0.5px solid #C1E2F5;
  padding: 12px 0;
}
.header__info-bot {
  padding: 12px 0;
}
.header__info-bot ul {
  display: flex;
  justify-content: start;
}
.header__buttons {
  text-align: center;
  width: 13%;
}
.header__buttons button {
  margin-bottom: 10px;
}
.header__buttons p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0096D1;
  cursor: pointer;
}
.header__contacts {
  display: flex;
  justify-content: end;
}
.header__socials ul {
  display: flex;
  justify-content: space-between;
}
.header__socials ul li {
  margin-left: 17px;
}
.header__socials ul li img:hover {
  filter: brightness(0) saturate(100%) invert(39%) sepia(33%) saturate(6242%) hue-rotate(183deg) brightness(93%) contrast(91%);
}
.header__phone {
  margin-left: 30px;
}
.header__phone a {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.header__phone a p {
  line-height: 18px;
  color: #0096D1;
}
.header__phone a img {
  margin-right: 10px;
}
.header__buttons {
  padding-top: 8px;
}
.header__buttons button {
  width: 160px;
  height: 40px;
}
.header__city {
  position: relative;
}
.header__city .cities {
  background-image: url(../img/select.svg);
  background-repeat: no-repeat;
  background-position: 87px 8px;
}
.header__city .cities:focus {
  background-image: url(../img/select-up.png);
}
.header__city .cities::part(listbox) {
  padding: 14px;
}
.header__city .select-arrow {
  position: absolute;
  right: 6px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-image: url(../img/select.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
.header__city label {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #AEAEAE;
}
.header__city select {
  font-size: 14px;
  line-height: 150%;
  color: #0B83CF;
  margin-left: 7px;
}
.header__city select:hover {
  font-weight: 500;
}
.header__city select:active {
  border: none;
}
.header__menu li {
  margin-right: 30px;
}
.header__menu li:hover a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0B83CF;
}
.header__menu li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.header__burger {
  display: none;
  height: 18px;
  right: 30px;
  position: relative;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active::after {
  transform: rotate(45deg);
  bottom: 8px;
}
.header__burger.active::before {
  transform: rotate(-45deg);
  top: 8px;
}
.header__burger::before {
  content: "";
  position: absolute;
  background-color: #0B83CF;
  left: 0;
  width: 30px;
  height: 2px;
  top: 0;
  transition: all 0.3s ease 0s;
}
.header__burger::after {
  content: "";
  position: absolute;
  background-color: #0B83CF;
  left: 0;
  width: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.header__burger span {
  position: absolute;
  background-color: #0B83CF;
  left: 0;
  width: 30px;
  height: 2px;
  top: 8px;
  transition: all 0.3s ease 0s;
}

.burger {
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  position: relative;
  display: none;
}
.burger__wrapper {
  opacity: 1;
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #0B83CF;
}
.burger__content {
  padding: 95px 15px 30px 15px;
  position: relative;
  background: #fff;
  text-align: left;
  position: fixed;
  width: 35%;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  -webkit-animation-name: animateright;
          animation-name: animateright;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.burger__menu {
  margin: 20px 0;
}
.burger__menu li {
  margin-bottom: 10px;
}
.burger__buttons {
  text-align: center;
}
.burger__buttons button {
  margin: 15px 0;
}
.burger__buttons p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0096D1;
  cursor: pointer;
}
.burger.active {
  display: block;
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 200;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 200;
    opacity: 1;
  }
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner__parent {
  width: 70%;
  position: relative;
}
.banner__parent .slick-arrow {
  position: absolute;
  top: 45%;
}
.banner__parent .slick-prev {
  left: 35px;
  color: transparent;
  background-image: url(./../img/arrow-right.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 86px;
  z-index: 2;
}
.banner__parent .slick-next {
  right: 50px;
  color: transparent;
  background-image: url(./../img/arrow-right.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  width: 35px;
  height: 86px;
  z-index: 2;
}
.banner__parent .slick-dots {
  position: absolute;
  bottom: 25px;
  right: 40%;
  display: flex;
  align-items: center;
}
.banner__parent .slick-dots li {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__parent .slick-dots button {
  color: transparent;
  width: 8px;
  height: 8px;
  background: #C1E2F5;
  border-radius: 50%;
}
.banner__parent .slick-dots .slick-active {
  border: #0B83CF 2px solid;
  border-radius: 50%;
}
.banner__parent .slick-dots .slick-active button {
  background: #0B83CF;
}
.banner__parent-left {
  width: 55%;
  padding: 50px 70px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #E6F5FA;
}
.banner__parent-right {
  width: 45%;
  position: relative;
}
.banner__parent-item {
  display: flex;
  justify-content: space-between;
  height: 600px;
}
.banner__child {
  width: 30%;
  height: 100%;
}
.banner__child .slick-active {
  cursor: pointer;
}
.banner__child .slick-current {
  display: none;
}
.banner__child-item {
  height: 50%;
  width: 100%;
}
.banner__child-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__title {
  font-family: "Panton";
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
}
.banner__title p {
  color: #0B83CF;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
}
.banner__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  margin: 20px 0 40px;
}
.banner__button {
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  text-align: center;
}
.banner__img {
  display: flex;
  align-items: flex-end;
}
.banner__img img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__play {
  position: absolute;
  bottom: 50px;
  left: 100px;
  cursor: pointer;
}
.banner__mute {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.advantages {
  padding: 90px 0;
}
.advantages__top {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.advantages__item {
  padding: 35px;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: #3D7DCC;
  height: 325px;
}
.advantages__item:nth-child(3) {
  height: 255px;
}
.advantages__item:nth-child(4) {
  height: 255px;
}
.advantages__item-title {
  font-family: "Panton";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.advantages__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 20px;
  width: 80%;
}
.advantages__item-link a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  white-space: nowrap;
}
.advantages__bot {
  background: #F1F1F1;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.advantages__bot-title {
  font-family: "Panton";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.advantages__bot-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #767576;
  margin: 25px 0 35px;
}
.advantages__bot-left {
  width: 50%;
  padding: 30px 50px 30px 140px;
}
.advantages__bot-right {
  width: 50%;
}

.services {
  margin-bottom: 80px;
}
.services__content {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.services__item {
  position: relative;
  padding: 35px 50px;
  background: #EFF5F9;
  border-radius: 4px;
  height: 325px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.services__item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0096D1;
}
.services__item a img {
  position: static;
  margin-left: 6px;
}
.services__item:nth-child(1) {
  background: #F8F8F8;
}
.services__item:nth-child(4) {
  background: #F8F8F8;
}
.services__item img {
  position: absolute;
  max-width: 300px;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.services__item-title {
  margin-bottom: 25px;
}
.services__item-title a {
  font-family: "Panton";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #373435;
}
.services__item-text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 25px;
  width: 70%;
}
.services__item-types li {
  position: relative;
  padding-left: 23px;
  font-family: "Panton";
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #767576;
  margin-bottom: 12px;
  cursor: pointer;
}
.services__item-types li::before {
  position: absolute;
  left: 0;
  top: -2px;
}
.services__item-types li:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0B83CF;
}

.leader {
  margin-bottom: 100px;
  background-color: #D0E0F4;
  background-image: url(./../img/leader.png);
  background-repeat: no-repeat;
  background-position-x: 45%;
  min-height: 550px;
  padding: 50px 0;
}
.leader .container {
  display: flex;
  justify-content: space-between;
}
.leader__left-name {
  padding-top: 40px;
}
.leader__left-text {
  font-size: 16px;
  line-height: 150%;
  margin: 25px 0 40px;
  width: 80%;
}
.leader__left-btn {
  height: 50px;
  padding: 15px 24px;
}
.leader__right {
  width: 32%;
  padding-top: 40px;
  position: relative;
  padding-left: 30px;
}
.leader__right-title {
  padding-top: 50px;
  font-family: "Panton";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 25px;
}
.leader__right-text {
  font-family: "Panton";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  width: 90%;
}
.leader .quotesTop {
  position: absolute;
  top: 45px;
  right: 45px;
}
.leader .quotesBot {
  position: absolute;
  bottom: -45px;
  left: -30px;
  transform: scaleX(-1);
}

.methods__title {
  margin-bottom: 40px;
}
.methods__top {
  display: flex;
  justify-content: space-between;
}
.methods__bot {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}
.methods__item {
  background: #F2F4F5;
  border-radius: 4px;
  width: 32%;
  padding: 35px 35px 35px 50px;
  position: relative;
  height: 540px;
}
.methods__item-btn {
  width: 150px;
  position: relative;
  z-index: 2;
}
.methods__item:nth-child(1) img {
  bottom: 0;
  right: 0;
}
.methods__item:nth-child(2) img {
  width: 100%;
  bottom: -45px;
  left: 0;
  max-height: 285px;
}
.methods__item:nth-child(3) img {
  bottom: 0;
  left: 0;
}
.methods__item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #A9A9A9;
}
.methods__item-title {
  font-family: "Panton";
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin: 10px 0 25px;
}
.methods__item-text {
  font-size: 16px;
  line-height: 150%;
  color: #767576;
  margin-bottom: 35px;
}
.methods__item-img {
  position: absolute;
}
.methods .equipment__item {
  background: #F2F4F5;
  border-radius: 4px;
  padding: 50px 40px;
}
.methods .equipment__item-img {
  display: flex;
  justify-content: center;
}
.methods .equipment__item-title {
  font-family: "Panton";
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}
.methods .equipment__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 20px 0 10px;
  width: 88%;
}
.methods .equipment__item img {
  display: none;
}
.methods .equipment__item:nth-child(1) {
  grid-area: 1/1/3/2;
}
.methods .equipment__item:nth-child(1) img {
  display: block;
}
.methods .equipment__item:nth-child(2) {
  grid-area: 1/2/2/3;
}
.methods .equipment__item:nth-child(3) {
  grid-area: 2/2/3/3;
}

.advert {
  height: 494px;
  background: #E6F5FA;
  position: relative;
  z-index: 1;
}
.advert__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.advert__img img {
  height: 100%;
}
.advert__text {
  font-size: 16px;
  line-height: 150%;
  margin: 25px 0 30px;
  width: 36%;
}
.advert__rest {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.advert__rest-day {
  width: 90px;
  height: 50px;
  font-family: "Panton";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background: #FFFFFF;
  border: 0.5px solid #E7E7E7;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advert__rest p {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #A9A9A9;
  margin-top: 4px;
}
.advert__content {
  padding: 90px 0;
}
.advert__title {
  width: 43%;
}
.advert__btn {
  width: 200px;
  height: 50px;
}

.doctors__all {
  padding-left: 70px;
}
.doctors__all a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0096D1;
}
.doctors__all a:hover {
  font-weight: 600;
}
.doctors .slick-current {
  opacity: 0.5;
}
.doctors__top {
  background: #F2F4F5;
  padding-top: 80px;
}
.doctors__bot {
  background: #E6F5FA;
  margin-top: -170px;
  padding-top: 230px;
}
.doctors__text {
  font-size: 16px;
  line-height: 150%;
  margin: 23px 0 45px;
  width: 90%;
}
.doctors__item {
  margin-right: 30px;
  height: 500px;
  cursor: pointer;
}
.doctors__item-img {
  height: 260px;
}
.doctors__item-img img {
  height: 100%;
}
.doctors__item-name {
  font-family: "Panton";
  font-size: 22px;
  line-height: 26px;
  color: #0B83CF;
}
.doctors__item-name b {
  color: #767576;
  font-family: "Panton";
  font-size: 22px;
  line-height: 26px;
}
.doctors__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin: 15px 0 20px;
}
.doctors__item-exp {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.doctors__item-exp b {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.doctors__item-info {
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  height: 100%;
  padding: 25px;
}

.doc {
  position: relative;
}
.doc__content {
  padding-top: 50px;
  width: 100%;
  height: 400px;
}
.doc__img {
  position: absolute;
  bottom: 0;
  right: -100px;
}
.doc__img img {
  width: 540px;
  max-height: 560px;
}
.doc .slick-arrow {
  position: absolute;
  top: -33px;
  width: 48px;
  height: 48px;
  color: transparent;
  background-repeat: no-repeat;
  z-index: 2;
}
.doc .slick-prev {
  left: 0px;
  background-image: url(./../img/arrow-right2.svg);
  transform: rotate(180deg);
}
.doc .slick-next {
  left: 175px;
  background-image: url(./../img/arrow-right2.svg);
}
.doc__name {
  margin-bottom: 40px;
  width: 48%;
}
.doc__info {
  width: 45%;
}
.doc__info li {
  position: relative;
  padding-left: 35px;
  font-family: "Panton";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}
.doc__info li::before {
  position: absolute;
  left: 0;
  top: -2px;
}
.doc__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0096D1;
}
.doc__item a:hover {
  font-weight: 600;
}
.doc__item img {
  display: none;
}

.insta {
  padding: 120px 0;
}
.insta__heshtag {
  font-family: "Panton";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.insta__heshtag b {
  font-family: "Panton";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0096D1;
}
.insta__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.insta__title select {
  font-family: "Panton";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 0.5px solid #C7C7C7;
  border-radius: 8px;
  height: 44px;
  padding: 12px 15px;
}
.insta__content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.insta__item {
  width: 23%;
  height: 280px;
}
.insta__item img {
  width: 100%;
  height: 100%;
}

.consult {
  position: relative;
  height: 460px;
  padding: 60px 0 80px;
  background: #F2F4F5;
}
.consult__title {
  width: 44%;
}
.consult__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 30px 0;
  width: 44%;
}
.consult__calls {
  display: flex;
  align-items: center;
}
.consult__calls-us p {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #767576;
  margin-bottom: 10px;
}
.consult__calls-us a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #0096D1;
  padding: 3px 0;
}
.consult__calls-us a:hover {
  font-weight: 600;
}
.consult__calls-us a::before {
  content: url(../img/call-blue.svg);
}
.consult__calls input {
  width: 240px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #919191;
  padding: 15px 20px;
}
.consult__calls button {
  width: 200px;
  height: 50px;
  margin: 0 25px;
}
.consult p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A9A9A9;
  margin-top: 25px;
}
.consult__img {
  position: absolute;
  right: 50px;
  bottom: 0;
}
.consult__img img {
  width: 560px;
  height: 550px;
}

.reviews {
  padding: 100px 0;
}
.reviews .slick-arrow {
  position: absolute;
  top: 35%;
  width: 48px;
  height: 48px;
  color: transparent;
  background-repeat: no-repeat;
  z-index: 2;
}
.reviews .slick-prev {
  left: -80px;
  background-image: url(./../img/arrow-right2.svg);
  transform: rotate(180deg);
}
.reviews .slick-next {
  right: -80px;
  background-image: url(./../img/arrow-right2.svg);
}
.reviews__rating {
  margin: 20px 0 50px;
  display: flex;
  justify-content: space-between;
}
.reviews__rating b {
  font-size: 16px;
  line-height: 150%;
}
.reviews__number {
  display: flex;
}
.reviews__number-item {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.reviews__number-item b {
  font-family: "Panton";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.02em;
  color: #0B83CF;
  margin-right: 30px;
}
.reviews__number-item p {
  font-size: 16px;
  line-height: 150%;
  color: #767576;
}
.reviews__item {
  border: 1px solid #D2D2D2;
  height: 190px;
  text-align: center;
  padding: 40px 20px;
}
.reviews__item img {
  margin: 10px auto;
  height: 50px;
}

.standarts {
  margin-bottom: 100px;
}
.standarts__all {
  text-align: center;
  margin-top: 50px;
}
.standarts__all a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0096D1;
  margin-left: 17%;
}
.standarts__all a:hover {
  font-weight: 600;
}
.standarts .slick-arrow {
  position: absolute;
  bottom: -85px;
  width: 48px;
  height: 48px;
  color: transparent;
  background-repeat: no-repeat;
  z-index: 2;
}
.standarts .slick-prev {
  left: 38%;
  background-image: url(./../img/arrow-right2.svg);
  transform: rotate(180deg);
}
.standarts .slick-next {
  right: 44%;
  background-image: url(./../img/arrow-right2.svg);
}
.standarts__title {
  width: 77%;
}
.standarts__content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.standarts__text {
  width: 75%;
  margin: 20px 0 50px;
  font-size: 16px;
  line-height: 150%;
}
.standarts__item {
  height: 280px;
}
.standarts__item img {
  width: 100%;
  height: 100%;
}
.standarts__item:nth-child(1) {
  grid-area: 2/1/3/5;
}
.standarts__item:nth-child(2) {
  grid-area: 2/5/3/9;
}
.standarts__item:nth-child(3) {
  grid-area: 2/9/3/12;
}
.standarts__item:nth-child(4) {
  grid-area: 1/1/2/7;
}
.standarts__item:nth-child(5) {
  grid-area: 1/7/2/12;
}

.video__title {
  margin-bottom: 30px;
}
.video__content {
  padding-bottom: 100px;
}
.video__content video {
  border-radius: 12px;
  height: 440px;
}

.clinics {
  background: #F2F4F5;
  padding: 70px 0;
  height: 720px;
}
.clinics__title {
  margin-bottom: 34px;
}
.clinics__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 30px;
}
.clinics__item {
  background: #fff;
  padding: 35px 35px 0 35px;
  border-top: 2px solid #3D7DCC;
  border-radius: 8px;
  transition: 0.3s ease;
}
.clinics__item-head {
  font-family: "Panton";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.clinics__item-head:hover {
  color: #0B83CF;
  cursor: pointer;
}
.clinics__item-body {
  padding-top: 35px;
  transition: 0.3s ease;
  overflow: hidden;
  height: 0;
}
.clinics__item-body b {
  font-family: "Panton";
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #A9A9A9;
  width: 30%;
}
.clinics__item-body span {
  font-size: 16px;
  line-height: 150%;
  width: 68%;
  margin-bottom: 10px;
}
.clinics__item-body p {
  font-size: 16px;
  line-height: 150%;
  width: 68%;
}
.clinics__address {
  display: flex;
  justify-content: space-between;
}
.clinics__graphic {
  display: flex;
  justify-content: space-between;
}
.clinics__phone {
  display: flex;
  justify-content: space-between;
}
.clinics__web {
  display: flex;
  justify-content: space-between;
}

.map {
  padding: 80px 0 50px;
}
.map__title {
  margin-bottom: 27px;
}
.map__content iframe {
  width: 100%;
  height: 500px;
}

.seo {
  padding-bottom: 70px;
}
.seo__text {
  margin: 37px 0 10px;
  font-size: 16px;
  line-height: 150%;
  background: linear-gradient(180deg, #494949 72.89%, rgba(73, 73, 73, 0) 98.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.seo a {
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #767576;
}

.footer {
  background: #005489;
  padding: 45px 0 20px;
}
.footer__top {
  padding-bottom: 30px;
  border-bottom: 0.1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.footer__top-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: -170px;
}
.footer__top-menu a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.footer__top-menu a:hover {
  opacity: 0.7;
}
.footer__top-socials img {
  margin: 0 8px;
}
.footer__top-socials img:hover {
  filter: brightness(0) saturate(100%) invert(69%) sepia(37%) saturate(748%) hue-rotate(171deg) brightness(102%) contrast(101%);
}
.footer__bot {
  padding-top: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer__bot-info b {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  margin: 0 15px;
}
.footer__policy a {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  margin: 0 40px;
}
.footer__policy a:hover {
  opacity: 0.7;
}
.footer__made {
  margin-left: 90px;
  display: flex;
  align-items: center;
}
.footer__made b {
  letter-spacing: 0.035em;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  margin-right: 35px;
}
.footer__made img:hover {
  opacity: 0.7;
}

select {
  position: relative;
  display: inline-block;
  padding-right: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:active {
  border: none;
}
select::-ms-expand {
  display: none;
}

.btn-1 {
  cursor: pointer;
  background: #0096D1;
  border: 1.5px solid #0096D1;
  border-radius: 24px;
  padding: 9px 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.btn-1:hover {
  background: #0B83CF;
}
.btn-1 a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.btn-2 {
  cursor: pointer;
  background: #0096D1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.btn-2:hover {
  background: #0B83CF;
}
.btn-2 a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.mainTitle {
  font-family: "Panton";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
.mainTitle b {
  color: #0B83CF;
  font-family: "Panton";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.mainTitle2 {
  font-family: "Panton";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.mainTitle2 b {
  font-family: "Panton";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0B83CF;
}

.widthBlue::before {
  width: 20px;
  height: 20px;
  content: url(../img/li-circle.svg);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.9;
  z-index: 301;
}
.preloader img {
  position: fixed;
  margin: auto;
  width: 140px;
  height: auto;
  top: 40%;
  left: 43%;
}

.preloader {
  display: block;
}

@media (max-width: 1800px) {
  .standarts .slick-next {
    right: 41%;
  }
  .standarts__all a {
    margin-left: 14%;
  }
}
@media (max-width: 1600px) {
  .standarts__all a {
    margin-left: 10%;
  }
}
@media (max-width: 1400px) {
  .banner__title {
    font-size: 30px;
  }
  .banner__title p {
    font-size: 35px;
  }
  .banner__parent-item {
    height: 550px;
  }
  .banner__child-item img {
    height: 274px;
  }
  .doc__img {
    right: -60px;
  }
  .consult {
    padding: 40px 0 60px;
  }
  .consult__img img {
    width: 540px;
    height: 500px;
  }
  .standarts__all a {
    margin-left: 5%;
  }
  .standarts .slick-next {
    right: 41%;
  }
}
@media (max-width: 1200px) {
  .header__buttons button {
    width: 140px;
  }
  .banner__title {
    font-size: 27px;
  }
  .banner__title p {
    font-size: 30px;
  }
  .banner__parent {
    width: 73%;
  }
  .banner__parent-item {
    height: 450px;
  }
  .banner__parent-left {
    width: 60%;
  }
  .banner__parent-right {
    width: 40%;
  }
  .banner__child {
    width: 27%;
  }
  .banner__child-item img {
    height: 224px;
  }
  .leader .quotesTop {
    top: 40px;
    right: 10px;
  }
  .leader .quotesBot {
    bottom: -50px;
    left: -10px;
  }
  .methods__item:first-child img {
    width: 40%;
  }
  .methods__item:nth-child(3) img {
    width: 52%;
    bottom: -8px;
  }
  .advert {
    height: 450px;
  }
  .advert__img img {
    height: 450px;
  }
  .advert__content {
    padding: 60px 0;
  }
  .doc__img {
    right: -15px;
  }
  .doc__img img {
    width: 510px;
    max-height: 540px;
  }
  .insta {
    padding: 90px 0;
  }
  .consult {
    height: 420px;
  }
  .consult__img {
    right: 0;
  }
  .consult__img img {
    width: 510px;
    height: 460px;
  }
  .consult__title {
    width: 55%;
    line-height: 40px;
  }
  .consult__title b {
    line-height: 40px;
  }
  .reviews {
    padding: 70px 0;
  }
  .reviews .slick-next {
    right: -40px;
  }
  .reviews .slick-prev {
    left: -40px;
  }
  .standarts__all a {
    margin-left: 2%;
  }
  .standarts .slick-next {
    right: 41%;
  }
  .standarts .slick-prev {
    left: 36%;
  }
  .footer {
    padding: 30px 0 20px;
  }
  .footer__top {
    padding-bottom: 18px;
  }
  .footer__top-menu {
    margin-right: -60px;
  }
  .footer__bot {
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .mainTitle {
    font-size: 37px;
    line-height: 38px;
  }
  .mainTitle b {
    font-size: 37px;
    line-height: 38px;
  }
  .mainTitle2 {
    font-size: 27px;
    line-height: 30px;
  }
  .mainTitle2 b {
    font-size: 27px;
    line-height: 30px;
  }
  .header {
    z-index: 4;
    position: relative;
    background: #fff;
  }
  .header__call {
    display: block;
  }
  .header__info {
    display: none;
  }
  .header__buttons {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__socials ul {
    justify-content: space-evenly;
  }
  .header .container {
    align-items: center;
    padding: 15px 20px 22px;
  }
  .banner__title {
    font-size: 22px;
    line-height: 25px;
  }
  .banner__title p {
    font-size: 26px;
    line-height: 30px;
  }
  .banner__text {
    margin: 13px 0 17px;
  }
  .banner__parent .slick-dots {
    bottom: 10px;
  }
  .banner__parent .slick-arrow {
    top: 38%;
  }
  .banner__parent-left {
    padding: 30px 30px 30px 70px;
  }
  .banner__parent-item {
    height: 380px;
  }
  .banner__child-item img {
    height: 189px;
  }
  .advantages__item {
    padding: 20px;
    height: 260px;
  }
  .advantages__item_title {
    font-size: 20px;
  }
  .advantages__item-text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 130%;
  }
  .advantages__bot-left {
    width: 55%;
    padding: 20px;
  }
  .advantages__bot-text {
    line-height: 130%;
    margin: 15px 0 15px;
  }
  .advantages__bot-right {
    width: 45%;
  }
  .services__content {
    grid-template-columns: 1fr;
  }
  .services__item img {
    max-width: 250px;
  }
  .leader {
    margin-bottom: 60px;
    min-height: 450px;
    background-position-x: -20%;
  }
  .leader__left {
    width: 40%;
  }
  .leader__left-name {
    font-size: 30px;
  }
  .leader__left-name b {
    font: 30px;
  }
  .leader__left-text {
    width: 90%;
  }
  .leader__right {
    width: 39%;
  }
  .leader__right-text {
    line-height: 130%;
  }
  .methods__title {
    margin-bottom: 25px;
  }
  .methods__item {
    padding: 15px;
    height: 400px;
  }
  .methods__item-title {
    font-size: 22px;
    line-height: 130%;
    margin: 5px 0 10px;
  }
  .methods__item-text {
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  .methods__item:nth-child(1) img {
    width: 35%;
    height: 130px;
  }
  .methods__item:nth-child(2) img {
    bottom: -35px;
    max-height: 170px;
  }
  .methods__item:nth-child(3) img {
    width: 45%;
  }
  .methods__bot {
    gap: 15px;
  }
  .methods__bot .equipment__item {
    padding: 20px;
  }
  .advert {
    height: 370px;
  }
  .advert__img img {
    height: 370px;
  }
  .advert__content {
    padding: 35px 0;
  }
  .advert__title {
    width: 55%;
  }
  .advert__text {
    font-size: 15px;
    line-height: 130%;
    margin: 15px 0 20px;
    width: 45%;
  }
  .advert__rest-day {
    font-size: 20px;
    height: 40px;
  }
  .doctors__top {
    padding-top: 50px;
  }
  .doctors__text {
    width: 100%;
    margin: 20px 0 30px;
  }
  .doctors__bot {
    padding-top: 200px;
  }
  .doc__img {
    right: 0;
    bottom: -2px;
  }
  .doc__img img {
    width: 350px;
  }
  .doc__content {
    height: 340px;
    padding-top: 35px;
  }
  .doc__name {
    width: 60%;
    font-size: 34px;
    margin-bottom: 20px;
  }
  .doc__name b {
    font-size: 34px;
  }
  .doc__info {
    width: 50%;
  }
  .doc__info li {
    line-height: 130%;
    margin-bottom: 13px;
  }
  .insta {
    padding: 60px 0;
  }
  .insta__item {
    height: 220px;
  }
  .consult {
    height: 390px;
    padding: 20px 0 50px;
  }
  .consult p {
    width: 62%;
  }
  .consult__img img {
    width: 460px;
    height: 410px;
  }
  .consult__text {
    margin: 15px 0;
    width: 60%;
  }
  .consult__calls {
    width: 60%;
    display: block;
  }
  .consult__calls-us p {
    margin-top: 10px;
  }
  .consult__calls input {
    height: 40px;
    width: 280px;
  }
  .consult__calls button {
    width: 280px;
    margin: 15px 0 0;
  }
  .consult__title {
    font-size: 34px;
    width: 65%;
  }
  .consult__title b {
    font-size: 34px;
  }
  .reviews {
    padding: 50px 0;
  }
  .reviews__rating {
    margin: 15px 0 0;
    align-items: center;
  }
  .reviews__number-item {
    padding: 5px;
    margin: 0 15px;
  }
  .reviews__number-item b {
    font-size: 53px;
    line-height: 60px;
    width: 60%;
  }
  .reviews .slick-prev {
    left: -30px;
  }
  .reviews .slick-next {
    right: -30px;
  }
  .standarts .slick-next {
    right: 34%;
  }
  .standarts .slick-prev {
    left: 34%;
  }
  .standarts__all a {
    margin-left: 5%;
  }
  .video__content {
    padding-bottom: 70px;
  }
  .video__content video {
    height: 380px;
  }
  .video__title {
    margin-bottom: 20px;
  }
  .clinics {
    padding: 40px 0;
    height: 660px;
  }
  .clinics__item {
    padding: 20px 20px 0 20px;
  }
  .map {
    padding: 50px 0 30px;
  }
  .map iframe {
    height: 400px;
  }
  .seo__text {
    margin: 20px 0 10px;
  }
  .footer__top-menu {
    margin-right: 0;
  }
  .footer__top-socials {
    display: grid;
    text-align: center;
    width: 9%;
  }
  .footer__bot-info b {
    margin: 0 7px 0 0;
  }
  .footer__policy a {
    margin: 0 10px;
  }
  .footer__made {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .mainTitle {
    font-size: 34px;
    line-height: 35px;
  }
  .mainTitle b {
    font-size: 34px;
    line-height: 35px;
  }
  .banner__parent {
    width: 100%;
  }
  .banner__parent-item {
    height: 330px;
  }
  .banner__child {
    display: none;
  }
  .advantages {
    padding: 60px 0;
  }
  .advantages__top {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .advantages__item {
    background-size: 100% 100%;
    padding: 35px;
  }
  .advantages__bot-left {
    width: 56%;
    padding: 15px 15px 10px 15px;
  }
  .advantages__bot-right {
    width: 44%;
  }
  .advantages__bot-right img {
    height: 100%;
  }
  .advantages__bot-title {
    font-size: 18px;
    line-height: 20px;
  }
  .advantages__bot-text {
    margin: 7px 0 7px;
    line-height: 110%;
    font-size: 14px;
  }
  .advantages__bot-button {
    height: 25px;
    padding: 4px 10px;
    font-size: 11px;
  }
  .services {
    margin-bottom: 50px;
  }
  .leader {
    min-height: 400px;
    background-position-x: 120px;
  }
  .leader .container {
    display: block;
  }
  .leader__left {
    width: 100%;
  }
  .leader__left-name {
    padding-top: 5px;
    font-size: 27px;
  }
  .leader__left-name b {
    font-size: 27px;
  }
  .leader__left-text {
    margin: 10px 0 20px;
    width: 75%;
  }
  .leader__right {
    width: 100%;
    padding-top: 5px;
    padding-left: 0;
    width: 70%;
  }
  .leader .quotesTop {
    top: 10px;
    right: 60px;
  }
  .leader .quotesBot {
    bottom: -35px;
    left: -50px;
  }
  .methods__title {
    margin-bottom: 15px;
  }
  .methods__top {
    display: block;
  }
  .methods__item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .methods__item img {
    display: none;
  }
  .methods .equipment__item {
    padding: 15px;
  }
  .methods .equipment__item-title {
    font-size: 22px;
    line-height: 130%;
  }
  .methods .equipment__item-text {
    width: 100%;
    margin: 10px 0;
  }
  .advert {
    height: 320px;
  }
  .advert__img {
    width: 50%;
  }
  .advert__img img {
    height: 320px;
  }
  .advert__title {
    width: 65%;
    font-size: 22px;
  }
  .advert__title b {
    font-size: 22px;
  }
  .advert__text {
    width: 60%;
  }
  .advert__rest {
    width: 60%;
  }
  .advert__rest-day {
    width: 70px;
    font-size: 17px;
    height: 30px;
  }
  .advert__btn {
    height: 38px;
  }
  .doctors__top {
    padding-top: 30px;
  }
  .doctors__title {
    font-size: 30px;
    line-height: 30px;
  }
  .doctors__text {
    margin: 15px 0 20px;
  }
  .doctors__bot {
    margin-top: -160px;
  }
  .doctors__item {
    margin-right: 20px;
    height: 480px;
  }
  .doctors__item-name {
    font-size: 22px;
    line-height: 22px;
  }
  .doctors__item-text {
    font-size: 14px;
    line-height: 130%;
    margin: 10px 0 13px;
  }
  .doctors__item-exp {
    font-size: 14px;
  }
  .doctors__info {
    padding: 15px;
  }
  .doc__img {
    right: -10px;
  }
  .doc__img img {
    width: 270px;
  }
  .doc__content {
    height: 390px;
  }
  .doc__info {
    width: 62%;
  }
  .insta__item {
    height: 170px;
    width: 100%;
  }
  .insta__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .consult {
    height: 400px;
  }
  .consult__img img {
    width: 400px;
    height: 370px;
  }
  .consult__title {
    font-size: 30px;
    line-height: 31px;
  }
  .consult__title b {
    font-size: 30px;
    line-height: 31px;
  }
  .consult__text {
    width: 65%;
    font-size: 14px;
    line-height: 130%;
  }
  .consult__calls button {
    height: 40px;
  }
  .reviews__number {
    display: block;
  }
  .reviews__number-item b {
    width: auto;
  }
  .standarts .slick-next {
    right: 100px;
  }
  .standarts .slick-prev {
    left: 100px;
  }
  .standarts__all a {
    margin-left: 120px;
  }
  .video__content video {
    height: 320px;
  }
  .clinics {
    height: auto;
  }
  .clinics__content {
    grid-template-columns: 1fr;
  }
  .map {
    padding: 30px 0 20px;
  }
  .map iframe {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .mainTitle {
    font-size: 28px;
  }
  .mainTitle b {
    font-size: 28px;
  }
  .banner__title {
    font-size: 20px;
  }
  .banner__title p {
    font-size: 22px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 130%;
  }
  .banner__parent .slick-prev {
    left: 15px;
  }
  .banner__parent .slick-next {
    right: 15px;
  }
  .banner__parent .slick-dots {
    right: 35%;
    bottom: 5px;
  }
  .banner__parent-left {
    padding: 20px 10px 20px 50px;
  }
  .banner__parent-item {
    height: 280px;
  }
  .advantages {
    padding: 30px 0;
  }
  .advantages__top {
    margin-top: 15px;
  }
  .services__content {
    padding-top: 20px;
  }
  .leader {
    height: 700px;
    padding: 20px 0;
    background-size: 100% 44%;
    background-position-x: 45%;
    background-position-y: 100%;
    margin-bottom: 40px;
  }
  .leader__left-text {
    width: 100%;
    line-height: 110%;
  }
  .leader__left-name {
    font-size: 24px;
    line-height: 25px;
  }
  .leader__left-name b {
    font-size: 24px;
  }
  .leader__right {
    width: 100%;
  }
  .leader__right-title {
    padding-top: 27px;
    margin-bottom: 14px;
  }
  .leader__right-text {
    width: 100%;
    padding-left: 15px;
  }
  .leader .quotesTop {
    top: -5px;
    right: 10px;
  }
  .leader .quotesBot {
    bottom: -45px;
    left: -10px;
  }
  .methods__bot {
    display: block;
    margin-bottom: 30px;
  }
  .methods .equipment__item {
    margin-bottom: 13px;
  }
  .methods .equipment__item img {
    display: block;
    width: 180px;
  }
  .methods .equipment__item-text {
    font-size: 14px;
    line-height: 130%;
  }
  .advert {
    height: 480px;
  }
  .advert__content {
    padding: 10px;
  }
  .advert__title {
    width: 100%;
  }
  .advert__text {
    width: 100%;
  }
  .advert__img {
    bottom: 0;
    top: auto;
    width: 100%;
  }
  .advert__img img {
    width: 100%;
    height: auto;
    max-height: 250px;
  }
  .advert__rest {
    width: 100%;
    justify-content: start;
  }
  .advert__rest p {
    margin-right: 17px;
  }
  .doctors__item {
    height: 438px;
  }
  .doctors__info {
    padding: 15px;
  }
  .doctors__bot {
    margin-top: -170px;
  }
  .doc__content {
    padding-top: 25px;
    height: 480px;
  }
  .doc__name {
    width: 100%;
  }
  .doc__info {
    width: 100%;
  }
  .doc__img {
    right: 50px;
  }
  .doc__img img {
    width: 220px;
  }
  .insta {
    padding: 30px 0;
  }
  .insta__content {
    margin-top: 20px;
  }
  .insta__title select {
    height: 30px;
    padding: 5px;
  }
  .consult {
    height: auto;
    padding: 20px 0;
  }
  .consult__img {
    display: none;
  }
  .consult__title {
    width: 100%;
  }
  .consult__text {
    width: 100%;
  }
  .consult__calls input {
    width: 100%;
  }
  .consult__calls button {
    width: 100%;
  }
  .consult p {
    width: 100%;
  }
  .reviews {
    padding: 30px 0;
  }
  .reviews__number-item b {
    font-size: 40px;
    width: 40%;
  }
  .reviews .slick-prev {
    left: 10px;
  }
  .reviews .slick-next {
    right: 10px;
  }
  .reviews .slick-arrow {
    top: 40%;
  }
  .standarts__all a {
    margin-left: 60px;
  }
  .video__content {
    padding-bottom: 30px;
  }
  .video__content video {
    height: 270px;
  }
  .video__title {
    margin-bottom: 10px;
  }
  .footer__top {
    display: block;
    text-align: center;
  }
  .footer__top-menu {
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
  }
  .footer__top-menu a {
    font-size: 14px;
  }
  .footer__top-menu li {
    margin-bottom: 10px;
  }
  .footer__top-socials {
    display: flex;
    margin-left: 40%;
  }
  .footer__top-socials a {
    margin: 0 7px;
  }
  .footer__bot {
    display: block;
    text-align: center;
  }
  .footer__policy {
    margin: 15px 0;
  }
  .footer__made {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .mainTitle2 {
    font-size: 19px;
    line-height: 24px;
  }
  .mainTitle2 b {
    font-size: 19px;
    line-height: 24px;
  }
  .banner__parent .slick-arrow {
    top: 46%;
  }
  .banner__parent .slick-next {
    right: 10px;
  }
  .banner__parent .slick-prev {
    left: 10px;
  }
  .banner__parent-item {
    height: auto;
    flex-direction: column-reverse;
  }
  .banner__parent-left {
    width: 100%;
    padding: 20px 20px 30px;
    text-align: center;
  }
  .banner__parent-right {
    width: 100%;
  }
  .banner__img img {
    height: 300px;
    width: 100%;
  }
  .banner__button {
    margin: 0 auto;
  }
  .advantages__item {
    height: 200px;
    padding: 20px;
  }
  .advantages__item:nth-child(3) {
    height: 200px;
  }
  .advantages__item:nth-child(4) {
    height: 200px;
  }
  .advantages__item-title {
    font-size: 18px;
    line-height: 20px;
  }
  .advantages__bot-right {
    display: none;
  }
  .advantages__bot-left {
    width: 100%;
  }
  .services__content {
    gap: 0;
    padding-top: 6px;
  }
  .services__item {
    height: auto;
    padding: 20px;
    margin-bottom: 15px;
  }
  .services__item img {
    max-width: 150px;
    max-height: 150px;
  }
  .services__item-title {
    margin-bottom: 15px;
  }
  .services__item-text {
    width: 80%;
    margin-bottom: 15px;
  }
  .services__item-types li {
    margin-bottom: 7px;
  }
  .leader {
    background-size: 100% 36%;
  }
  .advert {
    height: 460px;
  }
  .doc__content {
    height: 540px;
  }
  .doc__img {
    right: 15px;
  }
  .insta__content {
    grid-template-columns: 1fr;
    height: 380px;
    overflow-y: scroll;
  }
  .insta__item {
    height: auto;
    max-height: 340px;
  }
  .reviews__number-item b {
    font-size: 35px;
    width: 60%;
  }
  .standarts .slick-next {
    right: 50px;
  }
  .standarts .slick-prev {
    left: 50px;
  }
  .standarts__all a {
    margin-left: 30px;
  }
  .video__content video {
    height: 230px;
  }
  .video__title {
    margin-bottom: 0px;
  }
  .clinics__title {
    margin-bottom: 15px;
  }
  .clinics__item {
    padding: 20px 10px 0 10px;
  }
  .clinics__item-body span {
    font-size: 14px;
  }
  .clinics__item-body span p {
    font-size: 14px;
  }
  .clinics__item-head {
    line-height: 10px;
  }
  .map {
    padding: 20px 0 10px;
  }
  .map iframe {
    height: 240px;
  }
  .seo {
    margin-top: 20px;
  }
  .seo__text {
    margin: 10px 0 0;
    height: 300px;
    overflow-y: scroll;
  }
  .footer__top-menu {
    grid-template-columns: 1fr;
  }
  .footer__top-socials {
    margin-left: 32%;
  }
}
[data-star] {
  text-align: left;
  font-style: normal;
  display: inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}

[data-star]::before {
  display: block;
  content: "★★★★★";
  color: #D1D1D1;
  font-size: 34px;
}

[data-star]::after {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  width: 0;
  color: #FBBC05;
  overflow: hidden;
  height: 100%;
  font-size: 34px;
}

[data-star^="0.1"]::after, [data-star^=".1"]::after {
  width: 2%;
}

[data-star^="0.2"]::after, [data-star^=".2"]::after {
  width: 4%;
}

[data-star^="0.3"]::after, [data-star^=".3"]::after {
  width: 6%;
}

[data-star^="0.4"]::after, [data-star^=".4"]::after {
  width: 8%;
}

[data-star^="0.5"]::after, [data-star^=".5"]::after {
  width: 10%;
}

[data-star^="0.6"]::after, [data-star^=".6"]::after {
  width: 12%;
}

[data-star^="0.7"]::after, [data-star^=".7"]::after {
  width: 14%;
}

[data-star^="0.8"]::after, [data-star^=".8"]::after {
  width: 16%;
}

[data-star^="0.9"]::after, [data-star^=".9"]::after {
  width: 18%;
}

[data-star^="1"]::after {
  width: 20%;
}

[data-star^="1.1"]::after {
  width: 22%;
}

[data-star^="1.2"]::after {
  width: 24%;
}

[data-star^="1.3"]::after {
  width: 26%;
}

[data-star^="1.4"]::after {
  width: 28%;
}

[data-star^="1.5"]::after {
  width: 30%;
}

[data-star^="1.6"]::after {
  width: 32%;
}

[data-star^="1.7"]::after {
  width: 34%;
}

[data-star^="1.8"]::after {
  width: 36%;
}

[data-star^="1.9"]::after {
  width: 38%;
}

[data-star^="2"]::after {
  width: 40%;
}

[data-star^="2.1"]::after {
  width: 42%;
}

[data-star^="2.2"]::after {
  width: 44%;
}

[data-star^="2.3"]::after {
  width: 46%;
}

[data-star^="2.4"]::after {
  width: 48%;
}

[data-star^="2.5"]::after {
  width: 50%;
}

[data-star^="2.6"]::after {
  width: 52%;
}

[data-star^="2.7"]::after {
  width: 54%;
}

[data-star^="2.8"]::after {
  width: 56%;
}

[data-star^="2.9"]::after {
  width: 58%;
}

[data-star^="3"]::after {
  width: 60%;
}

[data-star^="3.1"]::after {
  width: 62%;
}

[data-star^="3.2"]::after {
  width: 64%;
}

[data-star^="3.3"]::after {
  width: 66%;
}

[data-star^="3.4"]::after {
  width: 68%;
}

[data-star^="3.5"]::after {
  width: 70%;
}

[data-star^="3.6"]::after {
  width: 72%;
}

[data-star^="3.7"]::after {
  width: 74%;
}

[data-star^="3.8"]::after {
  width: 76%;
}

[data-star^="3.9"]::after {
  width: 78%;
}

[data-star^="4"]::after {
  width: 80%;
}

[data-star^="4.1"]::after {
  width: 82%;
}

[data-star^="4.2"]::after {
  width: 84%;
}

[data-star^="4.3"]::after {
  width: 86%;
}

[data-star^="4.4"]::after {
  width: 88%;
}

[data-star^="4.5"]::after {
  width: 90%;
}

[data-star^="4.6"]::after {
  width: 92%;
}

[data-star^="4.7"]::after {
  width: 94%;
}

[data-star^="4.8"]::after {
  width: 96%;
}

[data-star^="4.9"]::after {
  width: 98%;
}

[data-star^="5"]::after {
  width: 100%;
}/*# sourceMappingURL=style.css.map */