<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-touch-events@3.2.2/index.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Menmedia</title>
</head>

<body>
  <main id="app" ref="infoBox">
  <!-- Header start -->
<header class="header">
  <transition name="fade" mode="out-in">
    <div class="header__top" v-if="!search" key="save">
      <div class="container">
        
        <a href="index.html"><i class="icon-logo"></i></a>
        <div class="link">              
            <a class="link__item" href="about.html">О компании</a>            
            <a class="link__item" href="services.html">Услуги</a>              
            <a class="link__item" href="anons.html">Пресс-анонсы</a>              
            <a class="link__item" href="events.html">Пресс-мероприятия</a>              
            <a class="link__item" href="photos.html">Фото</a>              
            <a class="link__item link__item-active" href="videos.html">Видео</a>              
            <a class="link__item" href="contacts.html">Контакты</a>             
        </div>
        <div class="info">
          <div class="dropdown">
            <div class="button" type="button" data-bs-toggle="dropdown">
              Рус <i class="bi bi-chevron-down"></i>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><img src="img/ru.png" alt=""> Рус</a></li>
              <li><a class="dropdown-item" href="#"><img src="img/kz.png" alt=""> Каз</a></li>
              <li><a class="dropdown-item" href="#"><img src="img/en.png" alt=""> Анг</a></li>
            </ul>
          </div>
          <i class="bi bi-search" @click="clickSearch"></i>
          <i class="icon-feedback" data-bs-toggle="modal" data-bs-target="#appModal"></i>
        </div>

      </div>
    </div>
    <div class="header__top header__search" v-else key="edit">
      <i class="bi bi-search"></i>
      <input type="text" placeholder="Искать в Menmedia.kz" v-model="searchText">
      <i class="bi bi-x-lg" @click="clickSearch"></i>
    </div>
  </transition>
  <div class="header__menu">
    <div class="container">
      <div class="header-bot">
        <div class="title">Мен айтамын:</div>
        <div class="link">
          <a href="#">Новости</a>
          <a href="#">PR и медиа</a>
          <a href="#">IT для PR</a>
          <a href="#">Спорт</a>
          <a href="#">Экономика</a>
          <a href="#">Культура</a>
          <a href="#">Технологии</a>
        </div>
        <div class="heading__button">
          <button @click="toggleHeading">
            <transition name="fade" mode="out-in">
              <div class="btn-heading"  key="Open" v-if="!heading">
                Все рубрики <i class="bi bi-chevron-down"></i>
              </div>
              <div class="btn-heading-close" key="Close" v-else=>
                Все рубрики
              </div>
            </transition>
          </button>
        </div>
      </div>
      <div class="heading__menu">
        <transition name="fade" mode="out-in">
          <div class="heading" v-if="heading">
              <ul class="heading__list">
                <li class="heading__list-item"> <a href="#">Рубрика 1</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 2</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 3</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 4</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 5</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 6</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 7</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 8</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 9</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 10</a> </li>
                <li class="heading__list-item"> <a href="#">Рубрика 11</a> </li>
              </ul>
          </div>
        </transition>
      </div>

    </div>
    </div>
    
  </div>
</header>

<!-- Modal start -->
<div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="exampleModalLabel">Оставьте заявку на проведение мероприятия</h5>
       
      </div>
      <div class="modal-body">
        <form>
          <div class="modal-text">
            <div class="mb-3">
              <label for="event-type" class="col-form-label">Тип мероприятия</label>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Выберите мероприятие</option>
                <option value="1">Мероприятие1</option>
                <option value="2">Мероприятие2</option>
                <option value="3">Другое</option>
              </select>
              <label for="description" class="col-form-label">Описание</label>
              <input type="text" class="form-control" id="description" placeholder="Коротко о мероприятии">
              <div class="contact-data">
                <label  class="col-form-label">Контактные данные</label>
                <input type="text" class="form-control"  placeholder="Ваше Имя*">
                <input type="text" class="form-control"  placeholder="Номер телефона*">
                <input type="text" class="form-control"  placeholder="E-mail*">
              </div>
            </div>
            <div class="mb-2">
              <label  class="col-form-label">Дата и время</label>
              <div class="form-date">
                <input type="date" class="form-control" id="date" placeholder="01.01.2000">
                <input type="time" class="form-control"  id= "time" placeholder="00:00">
              </div>
              <div class="contact-format">
                <label  class="col-form-label">Форма проведения </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Online
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Offline
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Отправить заявку</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<header class="header header__mobile">
  <div class="header__top">
    <div class="container">
      <transition name="fade" mode="out-in">
        <i @click="clickMobile" key="menu" class="bi bi-list" v-if="!mobile"></i>
        <i @click="clickMobile" key="close" class="bi bi-x" v-else></i>
      </transition>
      <a href="index.html"><i class="icon-logo"></i></a>
      <i class="icon-feedback" data-bs-toggle="modal" data-bs-target="#appModal"></i>
    </div>
  </div>
  <transition name="fade" mode="out-in">
    <div class="header__menu" v-if="mobile">
      <div class="container">
        <div class="search">
          <i class="bi bi-search"></i>
          <input type="text" placeholder="Искать в Menmedia.kz" v-model="searchText">
          <i class="bi bi-x-lg" v-if="searchText.length > 1" @click="clear"></i>
        </div>
        <div class="content">
          <div class="link">
            <a href="#">О компании</a>
            <a href="#">Услуги</a>
            <a href="#">Пресс-анонсы</a>
            <a href="#">Пресс-мероприятия</a>
            <a href="#">Фото</a>
            <a href="#">Видео</a>
            <a href="#">Контакты</a>
          </div>
        </div>
        <div class="content">
          <div class="title">Мен айтамын:</div>
          <div class="link">
            <a href="#">Новости</a>
            <a href="#">PR и медиа</a>
            <a href="#">IT для PR</a>
            <a href="#">Спорт</a>
            <a href="#">Экономика</a>
            <a href="#">Культура</a>
            <a href="#">Технологии</a>
          </div>
        </div>
        <div class="lang">
          <a href="#" class="active"><img src="img/ru.png" alt=""> Рус</a>
          <a href="#" class=""><img src="img/kz.png" alt=""> Каз</a>
          <a href="#" class=""><img src="img/en.png" alt=""> Анг</a>
        </div>
        <div class="heading__button">
          <button @click="toggleHeading">
            <transition name="fade" mode="out-in">
              <div class="btn-heading"  key="Open" v-if="!heading">
                Все рубрики <i class="bi bi-chevron-down"></i>
              </div>
              <div class="btn-heading-close" key="Close" v-else=>
                Все рубрики
              </div>
            </transition>
          </button>
        </div>
      </div>
    </div>
  </transition>
  <div class="heading__menu">
    <transition name="fade" mode="out-in">
      <div class="heading" v-if="heading">
          <ul class="heading__list">
            <li class="heading__list-item"> <a href="#">Рубрика 1</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 2</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 3</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 4</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 5</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 6</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 7</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 8</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 9</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 10</a> </li>
            <li class="heading__list-item"> <a href="#">Рубрика 11</a> </li>
          </ul>
      </div>
    </transition>
  </div>
</header>
<!-- Header end -->

    <div class="dark-wrapper"  :style="`height: ${height}`"></div>

    <section class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Главная</a>
                </li>  
                <li class="breadcrumb-item">
                    <a href="/">Галерея</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/">Видео</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">
                    19.Март Digital Almaty Forum...
                </li>
            </ol>
        </div>
    </section>

    <section class="videos">
        <div class="container">
            <div class="photos__title">
                <div class="title">19. Март Digital Almaty Forum 2021 </div>
                <div class="download"><a href="#">Скачать</a> 
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 1V10.5M7.5 10.5L11 7M7.5 10.5L4 7" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                    <path d="M1 14.5H14" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="videos__content">
                <div class="video-item">
                    <div class="video__item-img">
                        <img src="img/column101.jpg" alt="video">
                        <div class="video-text">1,5MB<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 1V10.5M7.5 10.5L11 7M7.5 10.5L4 7" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            <path d="M1 14.5H14" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div> 
                </div>
                <div class="video-item">
                    <div class="video__item-img">
                        <img src="img/column201.jpg" alt="video">
                        <div class="video-text">1,5MB<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 1V10.5M7.5 10.5L11 7M7.5 10.5L4 7" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            <path d="M1 14.5H14" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="video-item">
                    <div class="video__item-img">
                        <img src="img/column111.jpg" alt="video">
                        <div class="video-text">1,5MB<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 1V10.5M7.5 10.5L11 7M7.5 10.5L4 7" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            <path d="M1 14.5H14" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="video-item">
                    <div class="video__item-img">
                        <img src="img/column321.jpg" alt="video">
                        <div class="video-text">1,5MB<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 1V10.5M7.5 10.5L11 7M7.5 10.5L4 7" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            <path d="M1 14.5H14" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
          <div class="footer__head">
            <div class="content">
              <div class="colom colom-1">
                <a href="index.html"><i class="icon-logo"></i></a>
                <p>Мен айтамын:</p>
              </div>
              <div class="colom colom-2">
                <a href="#">О компании</a>
                <a href="#">Услуги</a>
                <a href="#">Пресс-анонсы</a>
                <a href="#">Пресс-мероприятия</a>            
              </div>
              <div class="colom colom-3">
                <a href="#">Фото</a>
                <a href="#">Видео</a>
                <a href="#">Контакты</a>
                <a href="#">Новости</a>
              </div>
            </div>
            <div class="content">
              <div class="colom">
                <div class="call">
                  <div class="phone">
                    <a href="tell:+77272455556">+7 (727) 245 55 56</a>
                  </div>
                  <div class="whatsapp">
                    <a href="tell:+77075666667">+7 (707) 566 66 67</a> 
                  </div>             
                </div>
                <div class="mess">
                  <i class="bi bi-envelope"></i>
                  <a href="#">info@menmedia.kz</a>
                </div>
                <div class="network">
                  <a href="#"><i class="icon-facebook"></i></a>
                  <a href="#"><i class="icon-instagram"></i></a>
                  <a href="#"><i class="icon-vk"></i></a>
                  <a href="#" class="icon-foot"> <img src="img/telegram-foot.svg" alt=""> </a>
                  <a href="#" class="icon-foot"> <img src="img/tiktok-foot.svg" alt=""> </a>
                  <a href="#" class="icon-foot"> <img src="img/youtube-foot.svg" alt=""> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="hr"></div>
          <div class="footer__bottom">
            <div class="content">
              <p>© 2021 menmedia.kz. Все права  защищены.</p><span>|</span><p>Политика конфидециальности</p>
            </div>
            <div class="content">
              <a href="#"><i class="icon-logo-IM"></i></a>
            </div>
          </div>
        </div>
      </footer>
  
    </main>
    <script src="js/carousel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
  
  </html>