@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.ttf');
    font-weight: 500;
}

